<!DOCTYPE html>
<html>
<head>
  <title>ExploitCVE20130156</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%
  content = raw Markdown.new.render render 'shared/header'
  content += yield
  content += raw Markdown.new.render render 'shared/footer'
%>
<%= raw Markdown.new.render content_tag :article, content, :class => "markdown-body"%>


</body>
</html>
